In [3]:
import requests as res
from bs4 import BeautifulSoup as bs

In [5]:
naver = res.get("https://finance.naver.com/sise/sise_quant.naver")

In [6]:
soup = bs(naver.text, "lxml")

In [7]:
title = soup.select("a.tltle")

In [9]:
price = soup.select("td.number:nth-child(3)")

In [25]:
# #contentarea > div.box_type_l > table > tbody > tr:nth-child(3) > td:nth-child(3)

In [37]:
len(price)

100

In [30]:
 # #contentarea > div.box_type_l > table > tbody > tr:nth-child(3) > td:nth-child(6)

In [10]:
volume = soup.select("td.number:nth-child(6)")

In [13]:
titleList = []
priceList = []
volumeList = []
for i in range(len(title)):
    titleList.append(title[i].text)
    priceList.append(price[i].text)
    volumeList.append(volume[i].text)

In [18]:
len(volumeList)

100

In [20]:
# 정제된 데이터를 표 형식 제작

In [21]:
import pandas as pd

In [23]:
data = {"종목명" : titleList, "가격정보" : priceList, "거래량" : volumeList}

In [24]:
pd.DataFrame(data)

                            종목명    가격정보         거래량
0              KODEX 200선물인버스2X   2,340  87,295,120
1             KODEX 코스닥150선물인버스   3,955  43,477,504
2                          일신석재   1,704  41,648,447
3        삼성 인버스 2X WTI원유 선물 ETN      94  41,018,939
4                          삼부토건   1,176  38,738,899
..                          ...     ...         ...
95    미래에셋 인버스 2X 코스닥150 선물 ETN   7,100   1,458,604
96  N2 인버스 레버리지 WTI원유 선물 ETN(H)      72   1,434,280
97       TIGER 미국배당다우존스타겟커버드콜2호  11,255   1,430,866
98                         대한항공  24,200   1,388,563
99                        삼성E&A  18,800   1,366,312

[100 rows x 3 columns]